button.menu-btn menu
.menu-test.hide
    button#playWinSequenceBtn.play-sequence-btn ▶ Запустити WIN послідовність
    button#windToggleBtn.wind-toggle-btn Тест трясяння кульок
    button#showWinBallBtn.win-ball-btn Показати кульку WIN
    button#resetSceneBtn.reset-scene-btn Скинути сцену
    button.popup-test-btn(data-popup="winPopup") Показати попап 1 (3000 €)
    button.popup-test-btn(data-popup="winPopup2") Показати попап 2 (500 FS)
    button.popup-test-btn-close Закрити всі попапи
.land
    .land__left
        .land__logo
            img(src="./img/logo.png" alt="favbet")
        .land__title
            .land__title-item Zavrti
            .land__title-item loto
            .land__title-item kugle i preuzmi
        .land__subtitle svoj bonus!
        button.land__btn.btn Zaigraj
    .land__game
        canvas#gameGlass
    .land__char
        picture.land__char-img
            source(media="(max-width: 600px)" srcset="img/char-mob.png")
            source(media="(max-width: 1050px)" srcset="img/char-tab.png")
            img(src="img/char.png" alt="favet")
        .land__char-bubble Tvoj trenutak sreće počinje ovdje!

.overlay._opacity
    .popup(data-popup="winPopup")
        .popup__close
        .popup__title ODLIČNO,osvojio si
        .popup__prize 3000 €
        .popup__icon
            img(src='img/popup-icon' alt="favbet")
        .popup__text Ostao ti je još #[span jedan] pokušaj
        button.popup__btn.btn Odigraj ponovo
    .popup(data-popup="winPopup2")
        .popup__close
        .popup__title Ti si prava zvijezda! <br> Tvoj dobitak je:
        .popup__prize 500 FS
        .popup__icon
            img(src='img/popup-icon' alt="favbet")
            .popup__icon-decor +3000 €
        .popup__text Registriraj se, napravi deposit i uzmi bonus
        button.popup__btn.btn UZMI BONUS
        .popup__bottom *prvi deposit od min 7 € - 100 FS, drugi deposit od min 7 € još 100 FS

